<% content_for :title do %>Dashboard<% end %>
<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div class="_container">
  <div class="row">
    <div class="col-md-12 clearfix">
      <div class="pull-left" style="padding-right:10px;">
        <h2>Tasks</h2>
      </div>
      <div style="margin-top:25px;">
        <%= link_to "Add Task",
          dashboard_new_task_time_path,
          class: 'btn btn-primary btn-xs' %>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 12px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Company</th>
        <th>Project</th>
        <th>Task</th>
        <th>Duration</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% @user_task_times.each do |task| %>
        <% task_status_css = "task-started" if task.started?  %>
        <tr class="<%= task_status_css %>">
          <td><%= task.company_name %></td>
          <td><%= task.project_name %></td>
          <td>
            <% if task.stopped? %>
              <div class="pull-left" style="margin-right:5px;">
                <%= button_to "Start",
                  dashboard_start_task_path(id: task.task_time_id),
                  class: 'btn btn-success btn-xs' %>
              </div>
            <% else %>
              <div class="pull-left" style="margin-right:5px;">
                <%= button_to "Stop",
                    dashboard_stop_task_path(id: task.task_time_id),
                    class: 'btn btn-stop btn-xs' %>
              </div>
            <% end %>
            <%= task.task_name %>
          </td>
          <td>
            <div class="pull-left" style="margin-right:5px;">
              <%= link_to "Edit",
                dashboard_edit_duration_path(task.task_time_id),
                class: 'btn btn-primary btn-xs' %>
            </div>
            <span class="<%= 'started' if task.started?  %>"><%= task.task_duration %></span> seconds
          </td>
          <td style="max-width: 200px;">
            <table>
              <row>
                  <td style="vertical-align:top; padding-right: 5px;">
                    <%= link_to task.task_time_note.blank? ? "Add Note" : "Edit Note",
                      dashboard_edit_note_path(task.task_time_id),
                      class: 'btn btn-primary btn-xs pull-left' %>
                  </td>
                  <td style="vertical-align:top;">
                    <% unless task.task_time_note.blank? %>
                      <%= task.task_time_note %>
                    <% end %>
                </td>
              </row>
            </table>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= content_for :javascripts do %>
  <script>
  </script>
<% end %>
