<% content_for :title do %>Tasks<% end %>

<div class="_container">
  <div class="row">
    <div class="col-md-12 clearfix">
      <div class="pull-left" style="padding-right:10px;">
        <h1>Tasks</h1>
      </div>
      <div style="margin-top:25px;">
        <%= link_to "Add Task",
          new_task_path,
          class: 'btn btn-primary btn-sx' %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/pager', locals: { resource: @tasks } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Company</th>
      <th>Project</th>
      <th>Task</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td style="width:20%"><%= task.project.company.name %></td>
        <td style="width:20%"><%= task.project.name %></td>
        <td style="width:40%"><%= task.name %></td>
        <td>
          <%= link_to t('.show', default: t("helpers.links.show")),
                      task_path(task), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', default: t("helpers.links.edit")),
                      edit_task_path(task), :class => 'btn btn-default btn-xs' %>
          <%= render partial: 'delete_task_link_to', locals: { task: task, button_size: :small } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'shared/pager', locals: { resource: @tasks } %>
