<%- model_class = User -%>
<div class="page-header">
  <h1><%= translate('.title',
            default: model_class.model_name.human.pluralize.titleize) %></h1>
</div>

<% if @search_criteria.errors.any? %>
  <%= ResourceMessageBuilder.build_html_errors(@search_criteria, 'errors.messages.search_failed',
       resource: @search_criteria.class.model_name.human.downcase) %>
<% end %>
<%# Note: This form MUST use method :get or will_paginate will not paginate properly! %>
<%= form_with(model: @search_criteria, id: :search_criteria_form, url: users_search_path, method: :get, local: true) do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
        <span id="selected_search_option" class="input-group-addon input-group-addon-primary"></span>
        <%= f.hidden_field(:search_option, id: :search_option) %>
        <%= f.text_field :search_string, id: :search_string, placeholder: '', class: 'form-control' %>

        <div class="input-group-btn">
          <button id="search_button" type="button" class="btn btn-primary"><i class='fa fa-search fa-md'>&nbsp;</i>Search</button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul id="search_options" class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Search by...</a></li>
            <li role="separator" class="divider"></li>
            <li><a id="show_all" class="search-item" data-placeholder="" href="#">Show all</a></li>
            <li><a id="email" class="search-item" data-placeholder="e.g. email@gmail.com" href="#">Email</a></li>
            <li><a id="user_name" class="search-item" data-placeholder="e.g. user_name" href="#">User name</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col-lg-12">
      <%= render partial: 'shared/pager', object: @search_criteria.users, as: :pager_data, locals: { css_class: 'col-lg-8 col-lg-offset-2 pager-center' } %>
    </div>
  </div>

  <%= render partial: 'shared/users', locals: { users: @search_criteria.users }%>

  <div class='row'>
    <div class="col-lg-12">
      <%= render partial: 'shared/pager', object: @search_criteria.users, as: :pager_data, locals: { css_class: 'col-lg-8 col-lg-offset-2 pager-center' } %>
    </div>
  </div>

<% end %>
