<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Email:</strong></dt><dd><%= @user.email %></dd>
  <dt><strong>User name:</strong></dt><dd><%= @user.user_name %></dd>
  <dt><strong>Last logged in:</strong></dt><dd><%= @user.last_sign_in_at %></dd>
  <dt><strong>Confirmed on:</strong></dt><dd><%= @user.confirmed_at %></dd>
  <dt><strong>Confirmation sent on:</strong></dt><dd><%= @user.confirmation_sent_at %></dd>
  <dt><strong>Unconfirmed email:</strong></dt>
  <dd><%= @user.unconfirmed_email %></dd>
</dl>

<%= link_to t('.back', default: t("helpers.links.back")),
              users_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn btn-default' %>
<% destroy_text = t('.destroy', default: t("helpers.links.destroy")) %>
<%= link_to user_path(@user), {
      method: :delete,
      class: 'btn btn-xs btn-danger',
      style: 'padding: 6px 12px;',
      title: "#{destroy_text}",
      data: {
        dialog_title: "#{destroy_text} this user?",
        user_email: "#{@user.email}"
      },
      form: { style: 'display:inline-block;' }
    } do %>
    <%= destroy_text %>
<% end %>
