<%
administrator = current_user? && current_user.admin?
%>

<div class="container">
  <div class="row">
    <div class="<%= administrator ? 'col-lg-9' : 'col-lg-12' %>">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <% if administrator %>
      <div class="col-lg-3">
        <div class="well sidebar-nav">
          <h3>Administration</h3>
          <ul class="nav nav-list">
            <li class="nav-header">Users</li>
            <li><%= link_to "List", users_path  %></li>
            <li><%= link_to "Search", "/path1"  %></li>
            <li><%= link_to "Manage", "/path2"  %></li>
          </ul>
        </div><!--/.well -->
      </div><!--/div-->
    <% end %>
  </div><!--/row-->
</div><!--/container-->
