<div style="margin-top: 12px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Company</th>
        <th>Project</th>
        <th>Task Name</th>
        <th>Duration</th>
        <th>Status</th>
        <th><%=t '.actions', default: t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @user_task_times.each do |task| %>
        <tr>
          <td><%= task.company_name %></td>
          <td><%= task.project_name %></td>
          <td><%= task.task_name %></td>
          <td><%= task.task_duration %> seconds</td>
          <td><%= "Started" if task.started? %></td>
          <td>
            <div class="pull-left" style="margin-right:5px;">
              <%= button_to "Start",
                dashboard_start_task_path(id: task.task_times_id),
                class: 'btn btn-success btn-xs' %>
            </div>
            <div class="pull-left" style="margin-right:5px;">
              <%= button_to "Stop",
                  dashboard_stop_task_path(id: task.task_times_id),
                  class: 'btn btn-stop btn-xs' %>
            </div>
            <%= link_to "Add Note",
              dashboard_edit_note_path(task.task_times_id),
              class: 'btn btn-info btn-xs' %>
          </td>
        </tr>
        <tr>
          <td colspan="5" style="text-align:center; padding-bottom:25px;">
            <%= task.task_note.blank? ? "" : "Notes: " %>
            <%= task.task_note %>
          </td>
          <td colspan="3"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
