<% content_for :title do %>Home<% end %>

<% if current_user? %>
<div style="margin-top: 12px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Company</th>
        <th>Project</th>
        <th>Task Name</th>
        <th>Duration</th>
        <th><%=t '.actions', default: t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @user_task_times.each do |task| %>
        <tr>
          <td><%= task.company_name %></td>
          <td><%= task.project_name %></td>
          <td><%= task.task_name %></td>
          <td><%= task.task_duration %></td>
          <td>
            <%= link_to "Start", "/", :class => 'btn btn-default btn-xs' %>
            <% destroy_text = t('.destroy', default: t("helpers.links.destroy")) %>
            <%= link_to "/", {
                  method: :delete,
                  class: 'btn btn-xs btn-danger',
                  style: 'padding: 6px 12px;',
                  title: "#{destroy_text}",
                  data: {
                    dialog_title: "#{destroy_text} this user?"
                  },
                  form: { style: 'display:inline-block;' }
                } do %>
                Stop
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% end %>
