<%= render partial: 'shared/errors', locals: { resource: @company, i18n_key: 'errors.messages.not_saved', i18n_args: nil } %>

<%= form_with(model: @company, local: true) do |f| %>
  <div class="form-group">
    <div class='input-md'><%= f.label 'Name' %></div>
    <div class='input-md'><%= f.text_field :name, class: "form-control" %></div>
  </div>

  <div class='actions form-group'>
    <div class='input-md'>
      <%= submit_tag 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
