<% content_for :title do %>Companies<% end %>

<div class="_container">
  <div class="row">
    <div class="col-md-12 clearfix">
      <div class="pull-left" style="padding-right:10px;">
        <h1>Companies</h1>
      </div>
      <div style="margin-top:25px;">
        <%= link_to "Add Company",
          new_company_path,
          class: 'btn btn-primary btn-sx' %>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Company</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td style="width:70%"><%= company.name %></td>
        <td>
          <%= link_to t('.show', default: t("helpers.links.show")),
                      company_path(company), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', default: t("helpers.links.edit")),
                      edit_company_path(company), :class => 'btn btn-default btn-xs' %>
          <% destroy_text = t('.destroy', default: t("helpers.links.destroy")) %>
          <%= link_to company_path(company), {
                method: :delete,
                class: 'btn btn-delete-company btn-xs',
                style: 'padding: 6px 12px;',
                title: "#{destroy_text}",
                data: {
                  dialog_title: "#{destroy_text} this company?",
                  company_name: "<strong>#{company.name}</strong>",
                  warning: "<span style='color:#c00;'>Warning: All Projects, Tasks, and user associated Task Times will be deleted!</span>"
                },
                form: { style: 'display:inline-block;' }
              } do %>
              <%= destroy_text %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
