<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "CoverMyMeds.com" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <% if content_for? :head %>
      <%= yield :head %>
    <% end %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CoverMyMeds.com</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path  %></li>
          </ul>
          <ul class="nav navbar-nav login-nav">
            <% if current_user? %>
              <li>
                <%= button_to destroy_user_session_path, {
                    method: :delete,
                    class: 'btn btn-logout transparent',
                    style: 'padding-left:0px; padding-right:0px;',
                    title: 'Log out',
                    data: {
                      post_title: "Log out?" },
                      form: { style: 'display:inline-block;' }
                    } do %>
                    <div style="margin-top: 15px;">Log out</div>
                <% end %>
              </li>
              <li><%= link_to "Profile", "/profile_path" %></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Forgot your password?", "/path3" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%= render partial: "shared/right_navigation" %>
    </div>

    <div class="container">
      <%= render partial: "shared/footer" %>
    </div>

    <%= render partial: 'shared/modal_dialog' %>

    <%= javascript_include_tag 'modal-dialog-center' %>

    <% if content_for? :javascripts %>
      <%= yield :javascripts %>
    <% end %>
  </body>
</html>
